@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    padding: 10px;
    max-width: 72rem;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    background: white;
}
html{
    background-color: white;
}
