@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    padding: 10px;
    max-width: 72rem;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    background: white;
    overflow: hidden;
}
html{
    background-color: white;
}

/* Google Maps Autocomplete Styles*/

.pac-container:after {
    background-image: none !important;
    height: 0px;
    /* border-radius: 15px 50px 30px 5px; */
}
.pac-container{
    border-radius: 10px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    border: 1px solid #ddd !important;
}
.pac-icon {
    display: none !important;
}
.pac-item {
    padding: 10px !important;
    font-size: 14px !important;
    color: #333 !important;
    border-bottom: 1px solid #ddd !important;
}

.no-scrollbar {
    overflow: auto; /* Allows scrolling */
    scrollbar-width: none; /* Hides scrollbar in Firefox */
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Hides scrollbar in Chrome, Safari, and Edge */
  }
  
  .roulette-pro-wrapper {
    max-height: 234px; 
    overflow-y: auto; 
  }

  .roulette-pro-regular-prize-item {
    width: 205px;  /* Adjust to the size you need */
    height: 234px; /* Adjust to the size you need */
    margin-left: 5px;
    overflow: hidden; /* Ensures that content does not overflow */
    border-radius: 15px; /* Rounded top corners */
    box-sizing: border-box; /* Includes padding and border in the element’s width and height */
  }
  
  .roulette-pro-regular-prize-item-wrapper {
    width: 100%; /* Ensure the wrapper covers the full container */
    height: 100%; /* Ensure the wrapper covers the full container */
    display: flex; /* Flexbox to center content if needed */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
  }
  
  .roulette-pro-regular-image-wrapper {
    width: 100%; /* Ensure the image wrapper is full width */
    height: 100%; /* Ensure the image wrapper is full height */
  }
  
  .roulette-pro-regular-prize-item-image {
    width: 100%; /* Ensures the image covers the container width */
    height: 100%; /* Ensures the image covers the container height */
    object-fit: cover; /* Ensure the image covers the container */
    border-radius: 15px 15px 0 0; /* Rounded top corners */
  }