@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    padding: 10px;
    max-width: 72rem;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    background: white;
    overflow: hidden;
}
html{
    background-color: white;
}

/* Google Maps Autocomplete Styles*/

.pac-container:after {
    background-image: none !important;
    height: 0px;
    /* border-radius: 15px 50px 30px 5px; */
}
.pac-container{
    border-radius: 10px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    border: 1px solid #ddd !important;
}
.pac-icon {
    display: none !important;
}
.pac-item {
    padding: 10px !important;
    font-size: 14px !important;
    color: #333 !important;
    border-bottom: 1px solid #ddd !important;
}

.no-scrollbar {
    overflow: auto; /* Allows scrolling */
    scrollbar-width: none; /* Hides scrollbar in Firefox */
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Hides scrollbar in Chrome, Safari, and Edge */
  }